#contacts {
  background-image: url(/assets/images/Background_Contacts.png);
  text-align: center;
  background-position: center;
  background-size: cover;
  padding: 128px 120px 200px;

  h3{
    margin-bottom: 8px;
  }

  h2 {
    margin-bottom: 8px;
  }
  
}